##CLIENT
REACT_APP_SERVER=http://localhost:8000/v1

##SERVER
PORT=8000

##DATABASE SETUP
MONGO_URL=

##KROGER AUTHENTICATION
KROGER_CLIENT_ID=
KROGER_CLIENT_SECRET=
KROGER_OAUTH2_BASE_URL=
KROGER_API_BASE_URL=
KROGER_REDIRECT_URL=